@media (max-width: 420px) {
  .container {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0rem;
  left: 0px;
  z-index: 200;
}
.containerIsOpen {
  height: 100vh;
  width: 18rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 150;
  color: #fff;
  border-radius: 0px;
  background: #ffffff;
  box-shadow: 5px 0px 20px #d9d9d9;
  transition: all 0.5s;
}
.containerIsClosed {
  height: 100vh;
  width: 25rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 100;
  color: #fff;
  border-radius: 0px;
  background: #ffffff;
  transition: all 0.5s;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  transform: translateX(-30rem);
}
.header {
  display: flex;
  flex-direction: row;
  background-color: #303030;
  height: 15vh;
  border-bottom: 2px solid #808080;
}
.navclose {
  margin-left: 0.1rem;
  margin-top: -5rem;
  z-index: 150;
}
.headerContent {
  width: 60%;
  font-size: 1.5em;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  margin-left: 2rem;
  align-items: center;
  text-align: left;
  margin-top: 1rem;
}
.headerSvg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 0.5rem;
}
.locations {
  background-color: #303030;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.start {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.start > input {
  text-decoration: none;
  background-color: #303030;
  border: none;
  font-size: 15px;
  border-bottom: 1px solid #808080;
  color: #fff;
  margin: 0px 20px;
  text-align: center;
}
/* input::placeholder {
  color: white;
  opacity: 0.8;
  font-size: 0.7rem;
} */
.recent-locations {
  color: #000;
  height: 15vh;
  padding: 1rem;
  border-bottom: 2px solid #808080;
}
.rl-sections {
  display: flex;
  align-items: center;
  height: 33.3%;
  font-size: 1.1rem;
  font-weight: 500;
}
.rl-sections > svg {
  margin-left: 2rem;
  margin-right: 0.3rem;
}
.rl-sections > span {
  margin-left: 10px;
}
.traffic {
  display: flex;
  flex-direction: column;
  color: #000;
}
.trafficHeader {
  height: 30%;
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  font-weight: 500;
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -2rem;
}
ul li {
  color: #00a8ff;
  margin-top: 0.8rem;
}

ul li span {
  font-size: 1rem;
  color: rgb(0, 0, 0);
}
